.skills-component {
 display: flex;
 gap: .8em;
 margin-bottom: 1em;
}

.skills-component .mobile-link {}

.skills-component .desktop-link {
 border: 1px solid var(--flat-blue);
 padding: .2em;
 text-decoration: none;
}

.skills-component .desktop-link:hover {
 border: 1px solid var(--blue-zodiac);
}