#projects-page {}

#projects-page .hero {}

#projects-page ul {
 display: flex;
 flex-wrap: wrap;
 gap: 2em;
 list-style: none;
 padding: 0;
}

#projects-page ul li {
 border: 1px solid var(--flat-blue);
 padding: 1em;
 width: 100%;
}

#projects-page ul li .row-1 {}

#projects-page ul li .row-1 p {
 margin: 0;
 color: var(--link-water);
}

#projects-page ul li .row-2 {}

#projects-page ul li .row-2 h3 {
 word-break: break-all;
}

#projects-page ul li .row-2 p {
 word-break: break-all;
}

#projects-page ul li .row-3 {
 margin-bottom: 1em;
}

#projects-page ul li .row-3 h4 {
 margin-bottom: .4em;
}

#projects-page ul li .row-3 .technologies {
 display: flex;
 gap: .6em;
 text-transform: capitalize;
}

#projects-page ul li .row-3 .technologies a {}

#projects-page ul li .row-3 .technologies a strong {}

#projects-page ul li .row-4 {
 display: flex;
 gap: .6em;
}

#projects-page ul li .row-4 a {}

#projects-page ul li .row-4 a strong {}

@media screen and (min-width: 600px) {
 #projects-page {
  padding: 2em;
 }
}

@media screen and (min-width: 900px) {
 #projects-page ul li {
  max-width: 15em;
  width: auto;
 }
}

@media screen and (min-width: 1200px) {
 #projects-page ul li {
  max-width: 18em;
  width: auto;
 }
}