#projects-page {}

#projects-page .hero {}

#projects-page ul {}

#projects-page ul li {}

#projects-page ul li .row-1 {}

#projects-page ul li .row-1 p {}

#projects-page ul li .row-2 {}

#projects-page ul li .row-2 h3 {}

#projects-page ul li .row-2 p {}

#projects-page ul li .row-3 {}

#projects-page ul li .row-3 h4 {}

#projects-page ul li .row-3 .technologies {
 display: flex;
 gap: .6em;
}

#projects-page ul li .row-3 .technologies a {}

#projects-page ul li .row-3 .technologies a strong {}

#projects-page ul li .row-4 {
 display: flex;
 gap: .6em;
}

#projects-page ul li .row-4 a {}

#projects-page ul li .row-4 a strong {}