#projects-page {
 padding: 1em;
 position: relative;
}

#projects-page .hero {
 text-align: center;
}

#projects-page ul {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 1em;
}

#projects-page ul li {
 max-width: 18em;
 border: 1px solid transparent;
 display: flex;
 flex-direction: column;
 border-color: var(--blue-zodiac);
}

#projects-page ul li .img-box {
 height: 10em;
}

#projects-page ul li .img-box img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

#projects-page ul li .content {
 padding: 0 1em 1em 1em;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100%;
 text-align: center;
}

#projects-page ul li .content .row-2 {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 margin-bottom: 2em;
 gap: .4em;
}

#projects-page ul li .content .row-2 a:last-child span {
 display: none;
}

#projects-page ul li .content .row-3 {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 gap: .4em;
}